{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">Newsletter</h2>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark w-100 mt-3">Subscribe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
