{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 align-items-center"> <!-- Using align-items-center to vertically center content -->
        <div class="col-12 col-md-6">
            <h1 class="display-4 logo-font text-black">
                Give More Than Just a Gift—Give a Moment.
            </h1>
            <div class="my-5">
                <a href="#" class="btn btn-lg btn-primary text-uppercase py-3 rounded-0">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<div class="container h-100">
    <div class="col-12">
        <h2 class="text-uppercase">
            Who are we?
        </h2>
        <p>At My Gifted Moment, we believe every gift tells a story — and we’re here to help you tell yours beautifully.

            <br>Born from a love of thoughtful giving, our shop is a curated treasure trove of unique, meaningful, and heartwarming finds. Whether you’re celebrating life’s big milestones or the little moments in between, we handpick every item to bring joy, spark smiles, and create lasting memories.
            
            <br>From artisanal crafts to quirky keepsakes, our collection is designed to inspire, delight, and connect people — because the best gifts are the ones that come from the heart.
            
            <br>We’re not just a gift shop. We’re a celebration of life’s special moments, wrapped with love and a little bit of magic.
            
            <br>✨ Let’s make your next gift unforgettable.</p>
    </div>

</div>
{% endblock %}
