/* Global */

html {
    height: 100%;
}

body {
    background: url('/media/homepage-backgroung.jpg.avif') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}


h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

/* Base header */

.bg-light-pink {
    background-color: #ECB7C9;
}

.logo-image {
    height: 100px;
    width: auto;
}

/* Nav bar */

.main-nav {
    background-color: #f7deea;
}

.dropdown-item:hover {
    background-color: #f7deea;
    border-radius: 20%;
    transition: 2s;
}