<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="all-gifts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All gifts
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-gifts">
                <li><a href="#" class="dropdown-item">By Price</a></li>
                <li><a href="#" class="dropdown-item">By Rating</a></li>
                <li><a href="#" class="dropdown-item">By Category</a></li>
                <li><a href="#" class="dropdown-item">All Gifts</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="flowers-chocolates" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers & Chocolates
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="flowers-chocolates">
                <li><a href="#" class="dropdown-item">Bouquets</a></li>
                <li><a href="#" class="dropdown-item">Flowers Box</a></li>
                <li><a href="#" class="dropdown-item">Chocolate Box</a></li>
                <li><a href="#" class="dropdown-item">Flowers & Chocolate Box</a></li>
                <li><a href="#" class="dropdown-item">All Flowers & Chocolate Boxes</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="gift-boxes-cards" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Boxes & Gift Cards
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="gift-boxes-cards">
                <li><a href="#" class="dropdown-item">Gift Boxes</a></li>
                <li><a href="#" class="dropdown-item">Filled Gift Boxes</a></li>
                <li><a href="#" class="dropdown-item">Gift Cards</a></li>
                <li><a href="#" class="dropdown-item">All</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="balloons" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Balloons
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="balloons">
                <li><a href="#" class="dropdown-item">Baby Shower Balloons</a></li>
                <li><a href="#" class="dropdown-item">Birthday Balloons</a></li>
                <li><a href="#" class="dropdown-item">Balloons</a></li>
                <li><a href="#" class="dropdown-item">All Balloons</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black" href="#" id="occasions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Occasions
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="occasions">
                <li><a href="#" class="dropdown-item">Birthday</a></li>
                <li><a href="#" class="dropdown-item">Wedding day</a></li>
                <li><a href="#" class="dropdown-item">Baby Shower</a></li>
                <li><a href="#" class="dropdown-item">All Occasions</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black" href="#" id="FAQ" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black" href="#" id="contact-us" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>