<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="all-gifts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All gifts
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-gifts">
                <li><a href="{% url 'gifts' %}?sort=price&direction=asc" class="dropdown-item">By Price</a></li>
                <li><a href="{% url 'gifts' %}?sort=occasion&direction=desc" class="dropdown-item">By Occasion</a></li>
                <li><a href="{% url 'gifts' %}?sort=category&direction=asc" class="dropdown-item">By Category</a></li>
                <li><a href="{% url 'gifts' %}" class="dropdown-item">All Gifts</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="flowers-chocolates" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers & Chocolates
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="flowers-chocolates">
                <li><a href="{% url 'gifts' %}?category=bouquets" class="dropdown-item">Bouquets</a></li>
                <li><a href="{% url 'gifts' %}?category=flowers_box" class="dropdown-item">Flowers Box</a></li>
                <li><a href="{% url 'gifts' %}?category=chocolate_box" class="dropdown-item">Chocolate Box</a></li>
                <li><a href="{% url 'gifts' %}?category=flowers_chocolate_box" class="dropdown-item">Flowers & Chocolate Box</a></li>
                <li><a href="{% url 'gifts' %}?category=bouquets,flowers_box,chocolate_box,flowers_chocolate_box" class="dropdown-item">All Flowers & Chocolate Boxes</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="gift-boxes-cards" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Boxes & Gift Cards
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="gift-boxes-cards">
                <li><a href="{% url 'gifts' %}?category=empty_gift_box"  class="dropdown-item">Gift Boxes</a></li>
                <li><a href="{% url 'gifts' %}?category=filled_gift_box"  class="dropdown-item">Filled Gift Boxes</a></li>
                <li><a href="{% url 'gifts' %}?category=gift_cards"  class="dropdown-item">Gift Cards</a></li>
                <li><a href="{% url 'gifts' %}?category=filled_gift_box,empty_gift_box,gift_card"  class="dropdown-item">All</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="balloons" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Balloons
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="balloons">
                <li><a href="{% url 'gifts' %}?category=balloons&occasion=baby_shower" class="dropdown-item">Baby Shower Balloons</a></li>
                <li><a href="{% url 'gifts' %}?category=balloons&occasion=birthday"class="dropdown-item">Birthday Balloons</a></li>
                <li><a href="{% url 'gifts' %}?category=balloons&occasion=none" class="dropdown-item">Balloons</a></li>
                <li><a href="{% url 'gifts' %}?category=balloons" class="dropdown-item">All Balloons</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="#" id="occasions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Occasions
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="occasions">
                <li><a href="{% url 'gifts' %}?occasion=birthday" class="dropdown-item">Birthday</a></li>
                <li><a href="{% url 'gifts' %}?occasion=wedding" class="dropdown-item">Wedding day</a></li>
                <li><a href="{% url 'gifts' %}?occasion=baby_shower"class="dropdown-item">Baby Shower</a></li>
                <li><a href="{% url 'gifts' %}?occasion=birthday,wedding,baby_shower,none" class="dropdown-item">All Occasions</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="{% url 'faq' %}" id="FAQ" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="{% url 'contact' %}" id="contact-us" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-dark me-5" href="{% url 'newsletter' %}" id="newsletter" aria-haspopup="true" aria-expanded="false">
                Newsletter
            </a>
        </li>
    </ul>
</div>